
/* General Site Styles */

* {
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	background-color: honeydew;
	font-family: 'Georgia', serif;
}

.wrapper {
	background-color: white;
	padding: 30px;text-align: center;

	/* Magic wrapper styles! */
	max-width: 700px;
	margin: 40px auto;
}

/* Margin shorthand: */
/* margin: top right bottom left; */
/* margin: top/bottom right/left; */
/* margin: top bottom/right left; */

img {
	/* Magic image style goes here! */
	max-width: 100%;
}


/* Typography */

h1, h2, h3, h4, h5, h6 {
	/*font-family: 'Courier';*/
}

p {

}

/* Header */

.page-title {
	text-shadow: 1px 1px 0px #999;
	font-size: 42px;
}

.page-desc {
	font-family: Courier;
	font-size: 24px;
}


/* Nav */

/* Content */

/* Footer */

/* Utility */

/* Media Queries */

